@font-face {
	font-family: 'MicrosoftSansSerif';
	src: url('../inc/micross.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
#bg {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
	background: #1b1b1b url('../img/background.gif') left top / auto repeat;
}
header {
	width: 90%;
	margin: 25px auto 0;
	overflow: auto;
}
header #logo {
	width: 50%;
	float: left;
	display: flex;
	flex-direction: column;
}
header #logo a img {
	width: 250px;
}
header #logo a p {
	color: #fff;
	text-decoration: none;
	font: normal normal 0.9em / 1.2 MicrosoftSansSerif;
}
header #searchBox {
	width: 50%;
	float: right;
	overflow: hidden;
}
header #searchBox form {
	float: right;
	display: flex;
	flex-direction: row;
}
header #searchBox form input {
	width: 250px;
	height: 40px;
	margin: 0% 0%;
	padding: 12px 14px ;
	background-color: black;
	color: white;
	font-family: MicrosoftSansSerif;
	border-style: solid;
	border-width: 2px 0 2px 2px;
	border-color: white;
	border-radius: 40px 0 0 40px;
}
header #searchBox form input:focus {
	outline: none;
}
header #searchBox form button {
	padding: 0 10px 0 0;
	height: 40px;
	background-color: black;
	border-style: solid;
	border-width: 2px 2px 2px 0;
	border-color: white;
	border-radius: 0 40px 40px 0;
}
header #searchBox form button:hover {
	cursor: pointer;
}
header #searchBox form button img {
	height: 100%;
	-webkit-filter: invert(100%);
	filter: invert(100%);
}
nav {
	position: -webkit-sticky;
  	position: sticky;
  	top: 0;
	width: 90%;
	height: 50px;
	margin: 25px auto 0;
	overflow: auto;
	display: flex;
	align-items: center;
	z-index: 1;
}
nav #openSide {
    overflow: hidden;
    display: none;
    width: 40px;
    height: inherit;
}
nav #openSide a {
    float: left;
    display: block;
    color: #f2f2f2;
    padding: 5px;
    text-decoration: none;
}
nav > ul {
	height: 50px;
	width: 100%;
	background-color: #A9A9A9;
	list-style: none;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	overflow: hidden;
	font-weight: bold;
}
nav > ul li a {
	padding: 17px;
	text-decoration: none;
	color: black;
	border-right: 1px solid black;
	font-family: MicrosoftSansSerif;
}
nav > ul li:first-child a {
	border-left: 1px solid white;
}
nav > ul li:last-child a {
	border: 0;
}
nav > ul li a:hover {
	background-color: #C0C0C0;
}
nav > ul li a.current {
	color: white;
	background-color: #32CD32;

}
nav #sideMenuBg {
	display: none;
	position: fixed;
	width: 100%;
	height: 100vh;
	background-color: #111111e6;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 1;
}
nav #sideMenuBg .side-nav {
    height: 100vh;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    padding-top: 25px;
}
nav #sideMenuBg .side-nav ul li a {
    padding: 5px 0 5px 20px;
    text-decoration: none;
    font-family: MicrosoftSansSerif;
    font-size: 14px;
    color: #fff;
    display: block;
}
nav #sideMenuBg .side-nav ul > li a::before {
    content: '\00bb\0020';
}
nav #sideMenuBg .side-nav .btn-close {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 22px;
    padding: 10px;
    text-decoration: none;
    color: #fff;
}


.background1{
	width: 90%;
	margin: 25px auto 0;
	overflow: auto;
	background-color: white;  
}


main {
	width: 100%;
	margin: 25px 25px;
	padding-left: 0%;
	overflow: auto;
	background-color:;  
}


main section {
	float: left;
	width: 69.2%;
	border: 2px solid black;
	padding: 10px 10px 10px 10px;
}


main section p img{
	width: 90%;
	  display: block;
  margin-left: auto;
  margin-right: auto;
}


main section h1{
	color: black;
	font-family: MicrosoftSansSerif;
}


main section a img{
width: 30%;
	  display: block;
  margin-left: auto;
  margin-right: auto;
}


main section p a img{
	width: 80%;

	border-color: black;
	  display: block;
  margin-left: auto;
  margin-right: auto;
}

main section h1 p{
	color: #000036;
	font-family: MicrosoftSansSerif;
}


/* Full-width input fields */
main section input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  font-family: MicrosoftSansSerif;
}

main section hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
  font-family: MicrosoftSansSerif;
}

/* Set a style for all buttons */
main section button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  font-family: MicrosoftSansSerif;
}

main section button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
main section .cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
  font-family: MicrosoftSansSerif;
}

/* Float cancel and signup buttons and add an equal width */
main section .cancelbtn, .signupbtn {
  float: left;
  width: 50%;
  font-family: MicrosoftSansSerif;
}

/* Add padding to container elements */
main section .container {
  padding: 25px;
  font-family: MicrosoftSansSerif;
}

/* Clear floats */
main section .clearfix::after {
  content: "";
  clear: both;
  display: table;
  font-family: MicrosoftSansSerif;
}

main section textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-family: MicrosoftSansSerif;
  border: none;
  background: #f1f1f1;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  main section .cancelbtn, .signupbtn {
     width: 100%;
     font-family: MicrosoftSansSerif;
  }
}


main aside {
	position: absolute;
	float: right;
	width: 24%;
	height: 195%;
	right: 6.2%;
	border: 2px solid black;
}


main aside p {
	width: 94%;
	height: 39px;
	background-color: #32CD32;
	color: white;
	margin: 13px 8px;
	border-style: double;
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	font-family: MicrosoftSansSerif;
}

main aside a {
	color: #262626;
	font-family: MicrosoftSansSerif;
	 display: inline-block;
  	padding: 8px 16px;
  	line-height: 1.6;
}

main aside ul{
	color: black;
	font-family: MicrosoftSansSerif;
	left: 10%;
	margin: 
	 line-height: 1.5;
	 font-weight: 900;
	 margin: 10px 35px;
}

main aside ul li{
	color: red;
}

main aside ul li a{
	color: blue;
	text-decoration: none;
}
 
main aside ul li a:hover, main aside ul li a:active {color: black;}

main aside form input[type=text] {
  width: 89%;
  padding: 12px 20px;
  margin: 10px 18px;
  box-sizing: border-box;
  border: 2px solid #5e5e5e;
  border-radius: 4px;
}



main aside form input[type=submit] {
  background-color: #5e5e5e;
  color: white;
  float: left;
  padding: 12px 20px;
  margin: 1px 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

main aside form input[type=submit]:hover {
  background-color: black;
}
.row:after {

  content: "";
  display: table;
  clear: both;
  
}


.add1{
	margin: 10px 15px;
}

.scat{

}


main footer{
	background-color: #278c3c;
	color: white;
	font-weight: 900;
}

.background2{
	width: 90%;
	margin: 25px auto 0;
	overflow: auto;
	background-color: #278c3c;  
}


@media screen and (max-width: 414px) {
	nav #openSide {
	    display: block;
	}
	nav > ul {
		display: none;
	}
	header #logo {
		width: 100%;
		float: none;
	}
	header #searchBox {
		width: 100%;
		float: none;
	}
	header #searchBox form {
		float: none;
		margin: 25px 0 0;
		justify-content: center;
	}
	main section {
		float: none;
		width: 100%;
	}
	main section article {
		width: 100%;
		margin: 0 0 20px 0;
	}
	main aside {
		display: none;
	}
	main section article a img {
		float: none;
		display: block;
		margin: 0 auto;
	}
	main section article a #softDetails {
		clear: both;
		width: 100%;
		float: none;
	}
	main section article a #softDetails h2 {
		padding: 20px;
	}
}
